body{
    font-family: 'Bitter', serif;
    margin: 0;
    margin-bottom: 70px;
}
h1{
    font-size: 50px;
}
span{
    color: orange;
}
.new-use{
    display: flex;
}
.ok{
    width: 50%;
    padding-left: 5%;
    padding-right: 2%;
    
}
.ok img{
    height: 80%;
}
.button{
text-decoration: none;
background-image: linear-gradient(tomato, yellow);
padding: 10px;
border-radius: 5px;
color: black;
font-weight: bold;

}
.first{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.good{
    padding-left: 7%;
    
}
.good img{
    height: 80%;
}
.next{
    padding-right: 10%;
}
.re{
    text-decoration: none;
    background-image: linear-gradient(tomato, yellow);
    padding: 10px;
    border-radius: 5px;
    color: black;
    font-weight : bold;
}
.up{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.font{
    color: blue;
}
.new-one{
    box-shadow: 20px 10px 40px rebeccapurple;
    width: 60%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 20px;
    

}
.pop{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#border{

    border-left: 5px solid;
    border-image: linear-gradient(purple, red);
    border-image-slice: 1;
}
#one{
    border-left: 5px solid;
    border-image: linear-gradient(purple, red);
    border-image-slice: 1;
}
footer  {
    text-align: center;
    font-weight: bold;
    padding-top: 70px;
    font-size: 20px;
}